

body {
	
	background-color: #FFFFFF; 
	text-align: center;
	color: #397A99;
}

form {
	text-align: center;
}

h1 {
		text-align: center;
		color: #397A99;
	}
	form {
		color: #397A99;
		text-align: center;
	}

	

h1 {
    text-align: center;
    color: #397A99;
  }
  form {
    color: #397A99;
    text-align: center;
  }

 