
.choose{
    font-family: 'Cookie', cursive;
}

<<<<<<< HEAD
.row{
  background-color: #397A99
}
.dropbtn {
    background-color: #397A99;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
=======
body {
	
	background-color: #FFFFFF; 
	text-align: center;
	color: #397A99;
>>>>>>> 8b677b20402ddd247f52602c71668b6c6eb57123
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

<<<<<<< HEAD
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


body {
	font-family: 'Cookie', cursive;
	background-color: #FFFFFF; 
	text-align: center;
	color: #397A99;
}


=======
	

h1 {
    text-align: center;
    color: #397A99;
  }
  form {
    color: #397A99;
    text-align: center;
  }

<<<<<<< HEAD
=======
 
>>>>>>> 8b677b20402ddd247f52602c71668b6c6eb57123
>>>>>>> d42c5afbdcdcc45a434c5748888da11776080f9d
