<html>

<img src="grasplogo.jpg" alt="Logo" height="600" width="" class="center">
<body>
  
  <form action="tutororstudent.html" >
    <!--<button class="button" type="submit" style= "text-allign: center;"> <span>Signup</span></button>
  </form>-->
  <input type="submit" value="Sign Up">
  <form action="homestudent.html">
    <!--<button class= "button" type="submit" style="text-allign: center;"> <span>Login</span></button>-->
    <input type="submit" value="Login">
  </form>
<style>
body {background-color: #FFFFFF;}

form {
  text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

</style>
</body>

</html>


