<html>
	<head>
		<title>Sign Up</title>
		<link rel="stylesheet" type="text/css" href="template.css">
	</head>

	<style>
	h1 {
		text-align: center;
		color: #397A99;
	}
	form {
		color: #397A99;
		text-align: center;
	}

	</style>
	
	<body>
		<h1><em>Create your profile</em></h1>
		<form method = "POST" action="studentrequest.html">
			Student Name: <input type="text" name="name"><br>
			<br>	Email Adress: <input type="text" name="userEmail"><br>
			<br>	Phone Number: <input type="text" name="userNumber"><br>
			<br>	School: <input type="text" name="userSchool"><br>
			<br>	Classification: <input type="text" name="userClassification"><br>
			<!--<br> <input type="submit" value="Continue">-->
			<!--<button type="button" class="btn btn-outline-success">-->
				<input type="submit" value="Continue">
		</form>	
	</body>
</html>